# Introduction to Pandas and Data Preprocessing

# Introduction:
  
   **PAN**el **D**ata **A**nalysi**S** ( *PANDAS* ) it is an open library developed by Wes McKenny in pydata stack useful for doing Data Wrangling/ Data Exploration purpose. 
    
    Pandas Library introduces 2 data structures 1. Series 2. Data Frames which are built on top of Numpy
    We can perform analysis of Tabular data using pandas via data frames (the concept is inherited from R).

# *Series*
* A Series is a one-dimensional object similar to an array, list, or column in a table. 
* It will assign a labeled index to each item in the Series.
* By default, each item will receive an index label from 0 to N, where N is the length of the Series minus one.

In [3]:
temps = (30,45,60,90,47,59,51)
print(type(temps))

<class 'tuple'>

In [156]:
#Importing Pandas and Numpy
import pandas as pd
import numpy as np

In [5]:
ser_temp=pd.Series((30,45,60,90,47,59,51),name='Temperature')
ser_temp

0    30
1    45
2    60
3    90
4    47
5    59
6    51
Name: Temperature, dtype: int64

In [6]:
print(ser_temp.mean())
print(ser_temp.name)

54.57142857142857
Temperature

In [7]:
print(dir(ser_temp))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_binop', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_convert_dtypes', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_find_valid_index', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_cython_func', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_ix', '_ixs', '_map_values', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_name', '_set_value', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_take_with_is_copy', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### Boolean Arrays

In [8]:
hot = pd.Series([False, True, False, False, True, True,False])
hot

0    False
1     True
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [9]:
ser_temp[hot]

1    45
4    47
5    59
Name: Temperature, dtype: int64

In [11]:
ser_temp[ser_temp>55]

2    60
3    90
5    59
Name: Temperature, dtype: int64

In [12]:
mask=ser_temp>55
mask

0    False
1    False
2     True
3     True
4    False
5     True
6    False
Name: Temperature, dtype: bool

In [13]:
ser_temp[mask]

2    60
3    90
5    59
Name: Temperature, dtype: int64

Multiple boolean arrays can be combine to build a compund logic.

In [15]:
mask2 = ser_temp  < 90
mask2

0     True
1     True
2     True
3    False
4     True
5     True
6     True
Name: Temperature, dtype: bool

In [16]:
ser_temp

0    30
1    45
2    60
3    90
4    47
5    59
6    51
Name: Temperature, dtype: int64

In [17]:
print(ser_temp[mask & mask2])
print(ser_temp[mask | mask2])

2    60
5    59
Name: Temperature, dtype: int64
0    30
1    45
2    60
3    90
4    47
5    59
6    51
Name: Temperature, dtype: int64

In [18]:
# Operator precedence
ser_temp[(ser_temp > 55) & (ser_temp < 90)]

2    60
5    59
Name: Temperature, dtype: int64

### Index in Series

In [19]:
ser_temp.index

RangeIndex(start=0, stop=7, step=1)

In [20]:
temp2 = pd.Series(temps, name = "Temperature2", index  = ["Mon","Tue","Wed","Thu","Fri","Sun","Sun"])
temp2

Mon    30
Tue    45
Wed    60
Thu    90
Fri    47
Sun    59
Sun    51
Name: Temperature2, dtype: int64

In [23]:
print(temp2.iloc[1])
print(temp2['Tue'])

45
45

Index makes your life easier in plotting and data subestting

In [27]:
temp3 = pd.Series(temps, name = "Temperature3", index = pd.date_range("20170101",periods=7))
temp3

2017-01-01    30
2017-01-02    45
2017-01-03    60
2017-01-04    90
2017-01-05    47
2017-01-06    59
2017-01-07    51
Freq: D, Name: Temperature3, dtype: int64

In [28]:
temp4=pd.Series(temps)
temp4

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

In [35]:
print(temp4.iloc[1]) #using internal location starts from 0 to n-1 (like core Python)
print(temp4.loc[1]) #using uder-defined index works like a keyword

45
45

## Pandas Data type

In [36]:
ser=pd.Series(range(10))
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [37]:
ser2=pd.Series([1.1,2.2,3,4])
ser2

0    1.1
1    2.2
2    3.0
3    4.0
dtype: float64

In [38]:
ser3=pd.Series(['a','b','c'])
ser3

0    a
1    b
2    c
dtype: object

In [39]:
ser_bad_practise = ([{},[],(2,)])

In [40]:
ser_dates = pd.Series(['2017-05-01','2017-06-01','2017-07-1'])

In [41]:
ser_dates.dtype

dtype('O')

In [42]:
ser_dates2=pd.to_datetime(ser_dates)
ser_dates2

0   2017-05-01
1   2017-06-01
2   2017-07-01
dtype: datetime64[ns]

Here the data type is dependent on the flavour of numpy and the machine architecture

In [43]:
ser_pd = pd.Series([1,3,2,1,2,3,1,2,2,3])
ser_categorical = pd.Series([1,3,2,1,2,3,1,2,2,3], dtype='category')

In [44]:
#ser_designation = pd.Series([1,3,2,1,2,3,1,2,2,3],dtype='category', ordered=True)

In [45]:
print(ser_pd.dtype)
print(ser_categorical.dtype)

int64
category

This is a special data type used in ML which implies number of categories for the given variable/feature and python does
some internal optimizations to save on memory

Series can store int, floats, Date, Categorical objects and heterogenious types whose  type is 'object' but not considered to be a good practise

### Iteration

In [47]:
temps = [30,45,60,90,47,59,51]
s = pd.Series(temps)
s

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

In [48]:
for val in s:
    print(val)

30
45
60
90
47
59
51

Iteration which is similar to list

#### Value check (Containment) in Lists vs Series

In [53]:
print(temps)
type(temps)

[30, 45, 60, 90, 47, 59, 51]

list

In [54]:
print(30 in temps)
print(47 in temps)

True
True

In [55]:
s

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

In [58]:
print('1.',30 in s)
print('2.',45 in s)
print('3.',1 in s)
print('4.',2 in s)
print('5.',30 in set(s))
print('6.',45 in set(s))
print('7.',0 in dict(s))
print('8.',1 in dict(s))

1. False
2. False
3. True
4. True
5. True
6. True
7. True
8. True

In [59]:
s.iteritems()

In [62]:
for key,val in s.iteritems():
    print(key,val)

0 30
1 45
2 60
3 90
4 47
5 59
6 51

### Broadcasting

In [63]:
s

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

In [64]:
print(s+2)
print(s.shape)

0    32
1    47
2    62
3    92
4    49
5    61
6    53
dtype: int64
(7,)

s is one-dimensional or a list or series and "2" is a scalar. The operation is applied to all the indvidual elements. Dunder add method handles it underthehood and the lenghts of vectors can differ. All the basic arthimetic operations can be performed

In [65]:
temp_vals = pd.Series([1,2,3,4,5,6])
print(temp_vals)
print(temp_vals.shape)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
(6,)

In [66]:
temp_vals + s

0    31.0
1    47.0
2    63.0
3    94.0
4    52.0
5    65.0
6     NaN
dtype: float64

In [67]:
s2 = pd.Series([10,20,30], index = [2,3,4])
s2

2    10
3    20
4    30
dtype: int64

In [68]:
s

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

In [69]:
s + s2

0      NaN
1      NaN
2     70.0
3    110.0
4     77.0
5      NaN
6      NaN
dtype: float64

Operations of two series does index wise operations.

In [70]:
s * s2

0       NaN
1       NaN
2     600.0
3    1800.0
4    1410.0
5       NaN
6       NaN
dtype: float64

#### Applying functions to series

In [72]:
def add_num(num):
    return (num+2)

In [73]:
s.apply(add_num)

0    32
1    47
2    62
3    92
4    49
5    61
6    53
dtype: int64

In [74]:
# lambda functions
s.apply(lambda x: x**2)

0     900
1    2025
2    3600
3    8100
4    2209
5    3481
6    2601
dtype: int64

In [75]:
s.apply(float) #general function for any element level operations sequentially

0    30.0
1    45.0
2    60.0
3    90.0
4    47.0
5    59.0
6    51.0
dtype: float64

In [76]:
s.astype(float) # specific function

0    30.0
1    45.0
2    60.0
3    90.0
4    47.0
5    59.0
6    51.0
dtype: float64

# CRUD
    * Create Read Update Delete from some modeler State

In [77]:
s

0    30
1    45
2    60
3    90
4    47
5    59
6    51
dtype: int64

There are 3 ways to retrieve the data from series
* using index
* using loc (based on the label of the series)
* using position (iloc)

In [78]:
print(s[0])
print(s.loc[0])
print(s.iloc[-1])

30
30
51

In [79]:
print(temps)
temp2 = pd.Series(temps, name = "Temperature2", index  = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(temp2)

[30, 45, 60, 90, 47, 59, 51]
Mon    30
Tue    45
Wed    60
Thu    90
Fri    47
Sat    59
Sun    51
Name: Temperature2, dtype: int64

In [80]:
temp2['Wed'] # by location and postions

60

In [81]:
temp2[3]

90

In [82]:
# If a index is a interger it works both on location and position and gives an error for index 
temp2[-1]

51

In [83]:
# If a index is a non interger loc works only on label
temp2.loc['Mon']

30

In [84]:
# If a index is a non interger loc works only on label
temp2.iloc[-1]

51

In [85]:
temp2.iloc[1]

45

In [87]:
temp2.Mon

30

In [88]:
temp2.shape

(7,)

In [90]:
temp3 = pd.Series(temps, index=['Mon','Tue', 0, 1,2,3,4])
temp3

Mon    30
Tue    45
0      60
1      90
2      47
3      59
4      51
dtype: int64

In [91]:
print(temp3.Mon)
print(temp3['Mon'])
print(temp3[0])

30
30
60

### Zen of python: 
    Explicit is better than implicit
    User loc or iloc when accessing the elements from Series or Pandas rather directly

### Update

In [92]:
temp2

Mon    30
Tue    45
Wed    60
Thu    90
Fri    47
Sat    59
Sun    51
Name: Temperature2, dtype: int64

In [93]:
temp2.Wed=70
temp2

Mon    30
Tue    45
Wed    70
Thu    90
Fri    47
Sat    59
Sun    51
Name: Temperature2, dtype: int64

In [94]:
temp2.loc['Wed']=60

In [95]:
temp2.Tue=50
temp2

Mon    30
Tue    50
Wed    60
Thu    90
Fri    47
Sat    59
Sun    51
Name: Temperature2, dtype: int64

In [97]:
temp2.iloc[-1]=100
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
Name: Temperature2, dtype: int64

The operations are inplace and considers the obj as mutable

In [98]:
lst = [30,45,60,90]
lst

[30, 45, 60, 90]

In [99]:
lst.append(100)
lst

[30, 45, 60, 90, 100]

In [100]:
st=temp2.append(pd.Series([110],index=['Wed']))
st

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
Wed    110
dtype: int64

In [101]:
st['Wed']

Wed     60
Wed    110
dtype: int64

In [102]:
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
Name: Temperature2, dtype: int64

In [103]:
# Only vectors can be appended similar to an extend method

### Delete

In [106]:
d={'foo':'bar'}
d

{'foo': 'bar'}

In [107]:
del d

In [108]:
d

NameError: name 'd' is not defined

In [109]:
temp2['X']=10
temp2['S']=95
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
Name: Temperature2, dtype: int64

In [110]:
temp2['Wed']

60

In [114]:
# del temp3['Wed']
temp3.drop(temp3[temp3>50].index)

Mon    30
Tue    45
2      47
dtype: int64

In [115]:
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
Name: Temperature2, dtype: int64

In [116]:
temp2[temp2 < 94] # This is not mutated rather gives a new series

Mon    30
Tue    50
Wed    60
Thu    90
Fri    47
Sat    59
X      10
Name: Temperature2, dtype: int64

In [117]:
temp2.drop(temp2[temp2<94].index)

Sun    100
S       95
Name: Temperature2, dtype: int64

In [118]:
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
Name: Temperature2, dtype: int64

In [119]:
mask=temp2<94

In [120]:
temp2.index=='Tue'

array([False,  True, False, False, False, False, False, False, False])

In [121]:
mask2=temp2.index=='Tue'
mask2

array([False,  True, False, False, False, False, False, False, False])

In [122]:
temp2[mask2]

Tue    50
Name: Temperature2, dtype: int64

## Summary Stats

In [123]:
temp2.mean(), temp2.min(), temp2.median(), temp2.sum(),  temp2.std()

(60.111111111111114, 10, 59.0, 541, 30.403307568603637)

In [124]:
temp2.describe()

count      9.000000
mean      60.111111
std       30.403308
min       10.000000
25%       47.000000
50%       59.000000
75%       90.000000
max      100.000000
Name: Temperature2, dtype: float64

In [125]:
temp2.value_counts()

47     1
30     1
10     1
60     1
59     1
90     1
95     1
100    1
50     1
Name: Temperature2, dtype: int64

In [127]:
ser_categorical.value_counts()

2    4
3    3
1    3
dtype: int64

In [128]:
ser_categorical.describe()

count     10
unique     3
top        2
freq       4
dtype: int64

In [129]:
temp2.quantile(.5)

59.0

In [130]:
temp2.describe(percentiles=[0.05,.1,.2,.9,.95,.97,.99])

count      9.000000
mean      60.111111
std       30.403308
min       10.000000
5%        18.000000
10%       26.000000
20%       40.200000
50%       59.000000
90%       96.000000
95%       98.000000
97%       98.800000
99%       99.600000
max      100.000000
Name: Temperature2, dtype: float64

## Duplicates

In [131]:
temp2

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
Name: Temperature2, dtype: int64

In [132]:
temp3 = temp2.append(pd.Series([3,3,4,5,6,7,4,7,8,9,1,3,2,4,0]))

In [134]:
temp3

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
0        3
1        3
2        4
3        5
4        6
5        7
6        4
7        7
8        8
9        9
10       1
11       3
12       2
13       4
14       0
dtype: int64

In [135]:
temp3.duplicated()   #Boolean to indicate if value is repeating in the series

Mon    False
Tue    False
Wed    False
Thu    False
Fri    False
Sat    False
Sun    False
X      False
S      False
0      False
1       True
2      False
3      False
4      False
5      False
6       True
7       True
8      False
9      False
10     False
11      True
12     False
13      True
14     False
dtype: bool

In [136]:
temp5 = pd.Series([1,2,3,4,5,6,1,3,5,7])
temp5

0    1
1    2
2    3
3    4
4    5
5    6
6    1
7    3
8    5
9    7
dtype: int64

In [140]:
temp5[-temp5.duplicated(keep="first")]  #default argument - keep="first"
temp5.drop_duplicates(keep="first")

0    1
1    2
2    3
3    4
4    5
5    6
9    7
dtype: int64

In [141]:
temp5[-temp5.duplicated(keep="last")]
temp5.drop_duplicates(keep="last")

1    2
3    4
5    6
6    1
7    3
8    5
9    7
dtype: int64

In [142]:
temp5[-temp5.duplicated(keep=False)]

1    2
3    4
5    6
9    7
dtype: int64

In [143]:
temp5.duplicated().any()

True

In [146]:
temp5.duplicated(keep=False).all()

False

In [148]:
temp3.duplicated(keep = False)

Mon    False
Tue    False
Wed    False
Thu    False
Fri    False
Sat    False
Sun    False
X      False
S      False
0       True
1       True
2       True
3      False
4      False
5       True
6       True
7       True
8      False
9      False
10     False
11      True
12     False
13      True
14     False
dtype: bool

In [147]:
mask = temp3.duplicated(keep = False)
temp3[mask]

0     3
1     3
2     4
5     7
6     4
7     7
11    3
13    4
dtype: int64

In [149]:
temp3[-mask]

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
3        5
4        6
8        8
9        9
10       1
12       2
14       0
dtype: int64

In [150]:
temp3.drop_duplicates(keep='last')

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
3        5
4        6
7        7
8        8
9        9
10       1
11       3
12       2
13       4
14       0
dtype: int64

In [151]:
#Dealing with duplicate in index and labels
temp4 = temp3.append(pd.Series([100],index = ['T']))

In [152]:
temp4

Mon     30
Tue     50
Wed     60
Thu     90
Fri     47
Sat     59
Sun    100
X       10
S       95
0        3
1        3
2        4
3        5
4        6
5        7
6        4
7        7
8        8
9        9
10       1
11       3
12       2
13       4
14       0
T      100
dtype: int64

## Nan

In [153]:
temp6 = pd.Series([1,2,None])
temp6

0    1.0
1    2.0
2    NaN
dtype: float64

In [154]:
pd.Series([None])

0    None
dtype: object

In [157]:
pd.Series([np.nan])

0   NaN
dtype: float64

In [158]:
temp7 = temp3.append(pd.Series([200,200,200,200,100,None], index = ['F','B','V','C','R','Sun']))

In [159]:
temp7

Mon     30.0
Tue     50.0
Wed     60.0
Thu     90.0
Fri     47.0
Sat     59.0
Sun    100.0
X       10.0
S       95.0
0        3.0
1        3.0
2        4.0
3        5.0
4        6.0
5        7.0
6        4.0
7        7.0
8        8.0
9        9.0
10       1.0
11       3.0
12       2.0
13       4.0
14       0.0
F      200.0
B      200.0
V      200.0
C      200.0
R      100.0
Sun      NaN
dtype: float64

In [160]:
len(temp7)

30

In [161]:
temp7.count()

29

In [162]:
temp7+2

Mon     32.0
Tue     52.0
Wed     62.0
Thu     92.0
Fri     49.0
Sat     61.0
Sun    102.0
X       12.0
S       97.0
0        5.0
1        5.0
2        6.0
3        7.0
4        8.0
5        9.0
6        6.0
7        9.0
8       10.0
9       11.0
10       3.0
11       5.0
12       4.0
13       6.0
14       2.0
F      202.0
B      202.0
V      202.0
C      202.0
R      102.0
Sun      NaN
dtype: float64

In [163]:
temp7.mean() # default ignores nan

51.96551724137931

In [164]:
#Find nan in series
temp7.isnull()

Mon    False
Tue    False
Wed    False
Thu    False
Fri    False
Sat    False
Sun    False
X      False
S      False
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
F      False
B      False
V      False
C      False
R      False
Sun     True
dtype: bool

In [165]:
temp7[-temp7.isnull()]

Mon     30.0
Tue     50.0
Wed     60.0
Thu     90.0
Fri     47.0
Sat     59.0
Sun    100.0
X       10.0
S       95.0
0        3.0
1        3.0
2        4.0
3        5.0
4        6.0
5        7.0
6        4.0
7        7.0
8        8.0
9        9.0
10       1.0
11       3.0
12       2.0
13       4.0
14       0.0
F      200.0
B      200.0
V      200.0
C      200.0
R      100.0
dtype: float64

In [166]:
temp7.isnull().any()

True

In [167]:
temp7[temp7.notnull()]

Mon     30.0
Tue     50.0
Wed     60.0
Thu     90.0
Fri     47.0
Sat     59.0
Sun    100.0
X       10.0
S       95.0
0        3.0
1        3.0
2        4.0
3        5.0
4        6.0
5        7.0
6        4.0
7        7.0
8        8.0
9        9.0
10       1.0
11       3.0
12       2.0
13       4.0
14       0.0
F      200.0
B      200.0
V      200.0
C      200.0
R      100.0
dtype: float64

### Replacing and droping null values in series

In [168]:
temp7.dropna()

Mon     30.0
Tue     50.0
Wed     60.0
Thu     90.0
Fri     47.0
Sat     59.0
Sun    100.0
X       10.0
S       95.0
0        3.0
1        3.0
2        4.0
3        5.0
4        6.0
5        7.0
6        4.0
7        7.0
8        8.0
9        9.0
10       1.0
11       3.0
12       2.0
13       4.0
14       0.0
F      200.0
B      200.0
V      200.0
C      200.0
R      100.0
dtype: float64

In [169]:
temp7.fillna(temp7.mean())

Mon     30.000000
Tue     50.000000
Wed     60.000000
Thu     90.000000
Fri     47.000000
Sat     59.000000
Sun    100.000000
X       10.000000
S       95.000000
0        3.000000
1        3.000000
2        4.000000
3        5.000000
4        6.000000
5        7.000000
6        4.000000
7        7.000000
8        8.000000
9        9.000000
10       1.000000
11       3.000000
12       2.000000
13       4.000000
14       0.000000
F      200.000000
B      200.000000
V      200.000000
C      200.000000
R      100.000000
Sun     51.965517
dtype: float64

In [171]:
temp7
temp7.fillna(method="ffill")

Mon     30.0
Tue     50.0
Wed     60.0
Thu     90.0
Fri     47.0
Sat     59.0
Sun    100.0
X       10.0
S       95.0
0        3.0
1        3.0
2        4.0
3        5.0
4        6.0
5        7.0
6        4.0
7        7.0
8        8.0
9        9.0
10       1.0
11       3.0
12       2.0
13       4.0
14       0.0
F      200.0
B      200.0
V      200.0
C      200.0
R      100.0
Sun    100.0
dtype: float64