In [ ]:
"""print("hello world")
print("bye")"""
print("abc")

## Check python version

In [ ]:
!python --version

## Python Syntax

In [ ]:
print("hello world")

## Comments in python

#### Single line comments

In [ ]:
# Following code prints hello world
print("hello world")

#### Multiline comments

In [ ]:
# This is how multiline comment looks like.
# Comments helps us to make code more readable
# Python ignores the string literal that are not assigned to a variable
print("Hello")
# a

## Variables in python

In [ ]:
a = 15

In [ ]:
a

In [ ]:
name = 'Shreyas'

In [ ]:
name

In [ ]:
print(name)

In [ ]:
print(a)

In [ ]:
a = 'India'

In [ ]:
print(a)

In [ ]:
p = "python"

In [ ]:
print(p)

In [ ]:
q = 10
q = 15
print(q)

#### Variable naming conventions

In [ ]:
# right approach
_name = 'Shreyas'
# or
name = 'Shreyas'

In [ ]:
# this approach would give error and is not the right way
5name = 'Shreyas'

In [ ]:
# this won't give error as the variable name is not starting from a number
name2 = 'Shreyas'

In [ ]:
# variables are case sensitive. name and Name are different variables
name = 'Shreyas'
Name = 'Ben'

In [ ]:
print(name)
print(Name)

In [ ]:
# this will give error as variable names can only contain alpha numeric
nam_ = 'Shreyas'

#### Declaring multiple variables at once

In [ ]:
# Declaring multiple variables with same value in a single line
a = b = c = 256

In [ ]:
print(b)
print(c)

In [ ]:
# Declaring multiple variables with different values
a, b, c = 259, 825, 100

In [ ]:
print(a)
print(b)
print(c)
print(a,b,c)

In [ ]:
a+B+c

#### Printing variables

In [ ]:
print("ThIs Is NuMbEr",a)

In [ ]:
print("Hi, I am ", name)

In [ ]:
age = 10
name = "jack"
print("My name is {}, I am {} years old".format(name,age))

#### Scope of the variable

In [ ]:
# Global variable
txt = 'variable1'

def test():
    print("this is {}".format(txt))

test()

In [3]:
txt = 'variable1'

def test():
    txt = 'variable2' # local variable
    print("this is {}".format(txt))

test()
print(txt)

this is variable2
variable1

In [2]:
def test():
    global var1
    var1 = 'hello'
    print("this is {}".format(var1))
    
test()
print(var1)

this is hello
hello

In [1]:
var1 = 'bye'

def test():
    global var1 #this variable is globally accessible
    var1 = 'hello'
    print("this is {}".format(var1))
    
test()
print(var1)

this is hello
hello

# Data types

## Numeric

In [1]:
# int
a = 10
b = -10
c = 2352346236521

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
# float
a = 10
b = -0.95
c = 3462362346.84567347
d = 5.0

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

In [5]:
a = 2e4 # e = 10 ^ 4 = 20000 e ^ 4 = 10 ^ 4 = 2e4 = 2 X 10 ^4 = 2X10x10
b = 32E2 # E = 10 3200

print(type(a))
print(type(b))
print(a)
print(b)

<class 'float'>
<class 'float'>
20000.0
3200.0

In [6]:
# complex
a = 4.0
b = -10j
c = 12+9j

print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'complex'>
<class 'complex'>

## Strings

In [ ]:
a = 'hello, Abc'
print(type(a))
print(a)

In [ ]:
# multiline strings
a = '''This is multiline string
with a sample text.
We are learning python.'''
print(a)
print(type(a))

In [ ]:
a = """This is multiline string
with a sample text.
We are learning python."""
print(a)

In [ ]:
a = "Shreyas said,'This is Python'"
print(a)

In [ ]:
a = 'python'
print(a)

In [ ]:
# functions in strings
# length of string. returns number of characters in string.
a = 'Hello World'
print(len(a))

In [ ]:
# removes leading and trailing spaces
a = "  This is Python!       "
print(a)
print(a.strip())

In [ ]:
# converts string to lower and upper case
a = "This is Python!"
print(a.lower())
print(a.upper())
print(a.title())
print(a.capitalize())

In [ ]:
print(a)

In [ ]:
# replaces a character of part of string with other character or string
print(a.replace('This','That'))

In [4]:
a = "Welcome to data science course"

In [5]:
print(a)

Welcome to data science course

In [6]:
print(a.replace("data science", "machine learning"))

Welcome to machine learning course

In [7]:
# splits string in to two parts from the specified character. Resultant is list
a = "This is Python, welcome to, the world, of python"
print(a.split(", "))

['This is Python', 'welcome to', 'the world', 'of python']

In [8]:
print("hello","world")

hello world

In [9]:
# checks if a particular string is present in other string
print("hello" in a)

False

In [10]:
print('hello' in a)

False

In [11]:
# concatenation of two string
a = 'Hello'
b = 'World'
print(a + " " + b)

Hello World

In [12]:
# cannot concatenate string and numbers
a = 'Hello'
b = 10
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str

## Boolean

In [13]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [14]:
print(a)

True

In [15]:
# comparing two values
print(5>1)
print(450<230)
print(5 == 5)

True
False
True

In [ ]:
# used in loops
a = 50
b = 10
if a > b:
    print("less")
else:
    print("greater")

In [16]:
# Evaluate values
print(bool('Python'))
print(bool('10'))
print(bool(''))
print(bool(0)) # 0---> False and 1----> True '',0

True
True
False
False

In [17]:
# examples of some functions where boolean values are used
text = "Hello"
print(text.islower())
print(text.isupper())
print(text.istitle())

False
False
True

## List

In [ ]:
# creating list
ls = ['python', 'java', 'r']
print(type(ls))

In [ ]:
print(ls)

In [ ]:
# creating list with different type of values
ls = ['python', 2, 2.5]
print(ls)

In [ ]:
# accessing elements of list
print(ls[0])
print(ls[2])

In [ ]:
print(ls[-1]) #access last element
print(ls[:-1]) # access all elements except last
print(ls[::-1]) # reverse list (interview question)

In [ ]:
print(ls)

In [ ]:
ls.reverse()

In [ ]:
ls = ['python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php']
print(ls[3:6]) # from 3 to 6 but not six

In [ ]:
ls[:5]

In [ ]:
ls[4:5]

In [ ]:
ls[:-5]

In [ ]:
ls[-3:]

In [ ]:
print(ls)

In [ ]:
ls[-4:-2]

In [ ]:
# changing particular value
print(ls)
print(ls[1])
ls[1] = 'android'
print(ls)

In [ ]:
print(ls)
ls[5] = 20
print(ls)

In [ ]:
ls[1:3] = [10,20]

In [ ]:
'machine learning' in ls

In [ ]:
len(ls)

In [ ]:
# appending values to the end
ls.append('julia')

In [ ]:
ls

In [ ]:
# inserting values to a particular index
print(ls)
ls.insert(5,'r programming')
print(ls)

In [ ]:
# removing element from list
ls.remove('python')
print(ls)
print(ls.remove('javascript'))

In [ ]:
print(ls)

In [ ]:
# remove element using pop
ls.pop(5)
print(ls)
ls.pop()
print(ls)
print(ls.pop(1))

In [ ]:
print(ls.pop())

In [ ]:
a = ls.pop(1:0)

In [ ]:
print(a)
print(ls)

In [ ]:
# remove using del keyword
print(ls)
del ls[0]
print(ls)

In [ ]:
ls.clear()
print(ls)

In [ ]:
a= [1, 2, 3, 2, 4, 5, 6, 7, 8, 9]
print(a)

In [ ]:
del a[1:5]

In [ ]:
print(a)

In [18]:
# copying from one list to other
# issues in copying using =
ls = ['hello', 'I', 'am', 'developer']
ls1 = ls
print(ls)
print(ls1)

['hello', 'I', 'am', 'developer']
['hello', 'I', 'am', 'developer']

In [19]:
ls1.pop()
print(ls1)
print(ls)

['hello', 'I', 'am']
['hello', 'I', 'am']

In [20]:
# copy()
ls = ['hello', 'I', 'am', 'developer']
ls1 = ls.copy()
print("ls before removing : {}".format(ls))
print("ls1 Before removing : {}".format(ls1))
ls1.pop()
print("ls after removing : {}".format(ls))
print("ls1 after removing : {}".format(ls1))

ls before removing : ['hello', 'I', 'am', 'developer']
ls1 Before removing : ['hello', 'I', 'am', 'developer']
ls after removing : ['hello', 'I', 'am', 'developer']
ls1 after removing : ['hello', 'I', 'am']

In [21]:
a = 1
print("this is {}".format(a))

this is 1

In [22]:
# copy using list()
ls = ['hello', 'I', 'am', 'developer']
ls1 = list(ls)
print("ls before removing : {}".format(ls))
print("ls1 Before removing : {}".format(ls1))
ls1.pop()
print("ls after removing : {}".format(ls))
print("ls1 after removing : {}".format(ls1))

ls before removing : ['hello', 'I', 'am', 'developer']
ls1 Before removing : ['hello', 'I', 'am', 'developer']
ls after removing : ['hello', 'I', 'am', 'developer']
ls1 after removing : ['hello', 'I', 'am']

In [23]:
# join two list
ls = [1,4,9]
ls1 = ['hello', 'world']
ls2 = ls + ls1
print(ls2)

[1, 4, 9, 'hello', 'world']

In [24]:
# extend method
ls = [1,4,9]
ls1 = ['hello', 'world']
ls.append('Try')
print(ls)
ls.extend(ls1)
print(ls)

[1, 4, 9, 'Try']
[1, 4, 9, 'Try', 'hello', 'world']

In [25]:
ls = [1,4,9]
ls1 = ['hello', 'world']
ls.append(ls1)

In [26]:
print(ls)

[1, 4, 9, ['hello', 'world']]

In [27]:
ls = [1,4,9]
ls1 = ['hello', 'world']
ls.extend(ls1)
print(ls)

[1, 4, 9, 'hello', 'world']

## Tuple

In [28]:
# declaring a tuple
tp = ('hello', 'world', 'programmer')
tp1 = 'this','is','python' # if we create a variable with multiple values separated by comma and no opening and clossing bracket what will be the type of the variable
print(tp)
print(type(tp1))
print(tp1)

('hello', 'world', 'programmer')
<class 'tuple'>
('this', 'is', 'python')

In [29]:
# accessing tuple
print(tp[1])

world

In [30]:
# accessing last item in tuple
print(tp[-1])

programmer

In [31]:
# accessing range of values from tuple
tp = ('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')
print(tp[3:6])
tp234 = tp

('c++', 'ruby', 'kotlin')

In [32]:
print(tp[-4:-2])

('kotlin', 'javascript')

In [33]:
print(tp)

('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')

In [34]:
# error while changing values
tp[0] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [35]:
tp = ('hello', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')

In [36]:
# check if values exist in tuple
'python' in tp

False

In [37]:
# length of tp
len(tp)

9

In [38]:
#creating tuple with one value
tp = ('python',) # how to create a tuple with single value
print(type(tp))

<class 'tuple'>

In [39]:
tp = ('python')
print(type(tp))
print(tp)

<class 'str'>
python

In [40]:
a = 1,3,5,10
print(a)

(1, 3, 5, 10)

In [41]:
print(ls[0])

1

In [42]:
# delete tuple
tp = ('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')
del tp
print(tp)

NameError: name 'tp' is not defined

In [43]:
# joining two tuple
tp1 = ('python', 'java', 'r', 'c++')
tp2 = ('ruby', 'kotlin', 'javascript', 'nodejs', 'php')
tp3 = tp1 + tp2
print(tp3)

('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')

## Sets

In [44]:
# declaring set
s1 = {'hello','I','am', 'Programmer'}
print(s1)

{'am', 'Programmer', 'hello', 'I'}

In [45]:
# can't access using index
s1[0]
# can use for loop

TypeError: 'set' object is not subscriptable

In [46]:
# check if element exist in set
'am' in s1

True

In [47]:
# can't change items but can add them
s1.add('python')
print(s1)

{'Programmer', 'I', 'am', 'hello', 'python'}

In [48]:
# adding multiple items
s1.update(['java', 'data science'])
print(s1)

{'java', 'Programmer', 'data science', 'I', 'am', 'hello', 'python'}

In [49]:
s2 = {1,'1',1}
print(s2)

{1, '1'}

In [50]:
# check length
print(len(s1))

7

In [51]:
print(s1)

{'java', 'Programmer', 'data science', 'I', 'am', 'hello', 'python'}

In [52]:
# remove element from set
s1.remove('java')
print(s1)

{'Programmer', 'data science', 'I', 'am', 'hello', 'python'}

In [53]:
s1.remove('shreyas') # error as shreyas not present in s1

KeyError: 'shreyas'

In [54]:
# discard words similar to remove but doesn't raise error if element not present in set
s1.discard('shreyas')
print(s1)

{'Programmer', 'data science', 'I', 'am', 'hello', 'python'}

In [55]:
# pop removes item in set and return it.
s1.pop()
print(s1)

{'data science', 'I', 'am', 'hello', 'python'}

In [56]:
# clear set (delete all elements in set)
s1.clear()
print(s1)

set()

In [57]:
# delete the set
del s1
print(s1)

NameError: name 's1' is not defined

In [58]:
# join two or more sets
s1 = {1,4,7}
s2 = {'hello', 'world'}
s3 = s1.union(s2)
print(s3)

{'world', 1, 4, 'hello', 7}

In [59]:
s1 = {1,4,7}
s2 = {'hello', 'world'}
s2.update(s1)
print(s2)

{'world', 1, 4, 'hello', 7}

## Dictionary

In [60]:
#creating dictionary
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}

In [61]:
print(new_dict)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'AI Engineer', 'Years of exp': 5}

In [62]:
# Accessing dictionary items
print(new_dict['name'])
# or
print(new_dict.get('name'))

Shreyas
Shreyas

In [63]:
new_dict[0]

KeyError: 0

In [64]:
# changing values
new_dict['Occupation'] = "Data Scientist"
print(new_dict)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Years of exp': 5}

In [65]:
# get all keys
print(new_dict.keys())

dict_keys(['name', 'Gender', 'Occupation', 'Years of exp'])

In [66]:
# get all values
print(new_dict.values())

dict_values(['Shreyas', 'Male', 'Data Scientist', 5])

In [67]:
#get both keys and values
print(new_dict.items())

dict_items([('name', 'Shreyas'), ('Gender', 'Male'), ('Occupation', 'Data Scientist'), ('Years of exp', 5)])

In [68]:
print(new_dict)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Years of exp': 5}

In [69]:
# check if key is present
print("name" in new_dict)
# or
print("name" in new_dict.keys())

True
True

In [70]:
# check if value is present
print("Shreyas" in new_dict.values())

True

In [71]:
# length of dictionary
print(len(new_dict))

4

In [72]:
# adding new items
print(new_dict)
new_dict['programming language'] = 'Python'
print(new_dict)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Years of exp': 5}
{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Years of exp': 5, 'programming language': 'Python'}

In [73]:
# removing items from dict
m = new_dict.pop('Gender')
print(new_dict)

{'name': 'Shreyas', 'Occupation': 'Data Scientist', 'Years of exp': 5, 'programming language': 'Python'}

In [74]:
print(new_dict)

{'name': 'Shreyas', 'Occupation': 'Data Scientist', 'Years of exp': 5, 'programming language': 'Python'}

In [75]:
# remove latest inserted item
m = new_dict.popitem()
print(m)

('programming language', 'Python')

In [76]:
# remove item with del
del new_dict['name']

In [77]:
print(new_dict)

{'Occupation': 'Data Scientist', 'Years of exp': 5}

In [78]:
# del can also be used to delete entire dictionary
del new_dict

In [79]:
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
print(new_dict)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'AI Engineer', 'Years of exp': 5}

In [80]:
#clear all elements from dictionary 
new_dict.clear()

In [81]:
print(new_dict)

{}

In [82]:
# create copy of dictionary
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
new_dict1 = new_dict.copy()
print(new_dict1)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'AI Engineer', 'Years of exp': 5}

In [83]:
# create copy of dictionary using dict() function
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
new_dict1 = dict(new_dict)
print(new_dict1)

{'name': 'Shreyas', 'Gender': 'Male', 'Occupation': 'AI Engineer', 'Years of exp': 5}

In [84]:
# creating nested dictionary
new_dict = {
    "key1": {
        "subkey1": "subvalue1",
        "subkey2": "subvalue2"
    },
    "key2":{
        "subkey1": "value1",
        "subkey2": "value2"
    }
}

print(new_dict)

{'key1': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}, 'key2': {'subkey1': 'value1', 'subkey2': 'value2'}}

In [85]:
print(new_dict['key1'].values())

dict_values(['subvalue1', 'subvalue2'])

In [86]:
print(new_dict.values())

dict_values([{'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}, {'subkey1': 'value1', 'subkey2': 'value2'}])