## Operators:

Assignment =
Arithmatic / * + - // %
Assignment + Arithmatic += -= *= /= %=
Relational > >= < <= == !=
Membership IN NOT IN
Logical AND OR NOT

## Data Types

string float int boolean

## Conditional Statement

In [10]:
q='y'
while (q=='y'):
    x=int(input("Enter Number:"))
    if (x==0):
        print("Zero")
    elif (x>0):
        print("Positive")
    else:
        print("Negative")
    q=input("Enter y/n:")

Enter Number:5
Positive
Enter y/n:n

In [12]:
# if(condtions, true, flase)
x=int(input("Enter number:"))
"High" if (x>0) else "Low"

Enter number:0

'Low'

In [13]:
x=int(input("Enter number:"))
"positive" if (x>0) else "zero" if (x==0) else "negative"

Enter number:0

'zero'

## Loops

In [1]:
x=1
while(x<=10):
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [14]:
for x in range(0,6,2):
    print(x, end=' ')

0 2 4

In [11]:
import numpy as np

In [12]:
for x in np.arange(0,6,0.5):
    print(x, end=' ')

0.0 0.5 1.0 1.5 2.0 2.5 3.0 3.5 4.0 4.5 5.0 5.5

## Data Structures

1.Tuple
2.List
3.Dictionary
4.Set

While discussing these data structures, we will focus on following:
- How to Create
- How to Access
- Apply condition
- Functions associated with them

### Tuples

#### Tuples: Created using () brackets or even without brackets

In [15]:
t1=2,3,4
type(t1)

tuple

In [17]:
t1=(12,23,34,45,21,89)
print(t1)
type(t1)

(12, 23, 34, 45, 21, 89)

tuple

#### List: Created using [] brackets

In [18]:
l1 = [12, 23, 34, 45, 21, 89]
print(l1)
type(l1)

[12, 23, 34, 45, 21, 89]

list

In [19]:
t2=tuple(l1)
t2

(12, 23, 34, 45, 21, 89)

In [20]:
l2=list(t1)
l2

[12, 23, 34, 45, 21, 89]

Both Tuple and List are accessed using [] brackets; where these square brackets will take one or more numbers as input

These numbers are Indexes from range 0 till length -1
colon : is used to create the range
We may use range function to generate the range of numbers
len() function gets the len of the Tuple or List
Type() function to get type of data structure

In [23]:
print(t2[:])
print(t2[2])
print(t2[:2])

(12, 23, 34, 45, 21, 89)
34
(12, 23)

In [24]:
print(l2[:])
print(l2[2])
print(l2[:2])

[12, 23, 34, 45, 21, 89]
34
[12, 23]

#### Get the values from the tuple/list for elements at even position

In [25]:
l1 = [12, 13, 134, 43, 65, 76, 34, 87, 98, 65, 42, 94, 50,'Phy',6.7]
l1[1:len(l1):2]

[13, 43, 76, 87, 65, 94, 'Phy']

In [29]:
l1[-1:-len(l1):-2]

[6.7, 50, 42, 98, 34, 65, 134]

In [30]:
for i in range(0,len(t2)):
    print(type(t2[i]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

#### Tuples are immuatable and Lists are mutable. Apart from this; there is no other difference in two data structures

Values inside a list can be reassigned Valid: l1[2] = 99
values in the tuple are fixed and can't be changed Invalid: t1[2] = 99

In [32]:
# item reassihnment in tuples and lists
l1[3] = 99
print(l1)
t1[4] = 99
t1

[12, 13, 134, 99, 65, 76, 34, 87, 98, 65, 42, 94, 50, 'Phy', 6.7]

TypeError: 'tuple' object does not support item assignment

#### Functions associated with tuples or list

dir(): Listing function (By default, displays everything that is present in current session)

dir(): Listing function (By default, displays everything that is present in current session)

#### Applying conditions on list or tuple

In [33]:
l1 = [12, 13, 134, 43, 65, 76, 34, 87, 98, 65, 42, 94, 50]

In [36]:
for x in range(0,len(l1)):
    if l1[x]>50:
        print(l1[x])

134
65
76
87
98
65
94

In [37]:
for x in l1:
    if x>50:
        print(x)

134
65
76
87
98
65
94

#### List Comprehensions

In [38]:
# get all elements in the list with some conditions and generate output in form of list
result = [x for x in l1 if x > 30]
type(result)

list

In [43]:
result=[x**2 for x in range(1,7)]
result

[1, 4, 9, 16, 25, 36]

#### Functions of tuple object¶

In [44]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [45]:
t1 = 12, 23, 34, 23, 21, 34

In [48]:
# count function will count how many times a value appears in the tuple
t1.count(23)

2

In [49]:
# index function will return the index/position of first occurance of the given value
t1.index(23)

1

#### Functions of list object

In [50]:
print(dir(l1))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
t2 = (2,4,3,2,2,2,4,4,3,2,3,4,2,4)
t2.count(2)

6

In [52]:
t2.index(3)

2

In [53]:
list1=[10, 12, 56, 78, 54, 34, 666, 89, 22, 49, 16, 88, 90, 93, 29]
list1.append(100)
list1

[10, 12, 56, 78, 54, 34, 666, 89, 22, 49, 16, 88, 90, 93, 29, 100]

In [54]:
?list1.count

In [55]:
list1.insert(8,800) # the new element at iloc 8 is 800, the rest get shifted
list1

[10, 12, 56, 78, 54, 34, 666, 89, 800, 22, 49, 16, 88, 90, 93, 29, 100]

In [56]:
# task : get the squares of l2 into a new list
l2=[2,3,4,5,6,7,8,9,10]
l3=[]
for x in l2:
    l3.append(x**2)
print(l3)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
result=[]
for x in l2:
    result.append(x**2)
result=tuple(result)
print(result)

(4, 9, 16, 25, 36, 49, 64, 81, 100)

#### Dictionary: Created using {} brackets

In [58]:
# Dictionaries have key value pairs
# dict = {key1 : value1, key2 : value2,..... .., keyn : valuen}
# Elements are stored in asc order of the keys

dict = {"Empid": "A001", "EName": "John Mathew", "Salary": 50000, "Email": "john@abc.com"}
dict

{'Empid': 'A001',
 'EName': 'John Mathew',
 'Salary': 50000,
 'Email': 'john@abc.com'}

#### Rules for dictionary DS
1. Key should be unique.
2. A key must be simple i.e. str/int/float
3. A value can be ANYTHING!
4. To access the values in dictionary, we can't use index or position values. 
5. Get the values from dict using the keys

In [60]:
# Dictionaries have key value pairs
# dict = {key1 : value1, key2 : value2,......., keyn : valuen}
# Elements are stored in asc order of the keys


# {key1:value1,key2:value2,key3:value3,...}
d1 = {1:88,2:90,3:78,4:92,5:67,5.5:88}
d2 = {"maths":88,"phy":90,"che":78,"eng":92,"computers":67}

#### Rules for keys and values in a dictionary

- Keys must be __unique__
    - when duplicate keys are inderted, the most recent one stays, the older ones are removed
- keys can be int, float or strings
- keys cannot be list or a tuple
- values can be _anything_

In [61]:
d1

{1: 88, 2: 90, 3: 78, 4: 92, 5: 67, 5.5: 88}

In [62]:
d2

{'maths': 88, 'phy': 90, 'che': 78, 'eng': 92, 'computers': 67}

In [63]:
# Accsssing dictionary
# No ilocs
# Elements are to be accessed only by their keys!

In [64]:
d2['che']

78

In [65]:
d1[2]  # 2 is a key in d1

90

In [66]:
d3 = {"maths":88,"phy":90,"che":78,"eng":92,"computers":67,"maths":90,"phy":44,"maths":95}
d3

{'maths': 95, 'phy': 44, 'che': 78, 'eng': 92, 'computers': 67}

In [67]:
print(dir(d3))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [68]:
d3.keys()

dict_keys(['maths', 'phy', 'che', 'eng', 'computers'])

In [69]:
d3.values()

dict_values([95, 44, 78, 92, 67])

In [70]:
res={}
res

{}

In [71]:
res[3]=9
res

{3: 9}

In [72]:
result={}
for i in [2,6,9,10,15]:
    result[i]=i**2
result

{2: 4, 6: 36, 9: 81, 10: 100, 15: 225}

In [74]:
for key in d2.keys():
    print(d2[key])

88
90
78
92
67

In [75]:
d2.keys()

dict_keys(['maths', 'phy', 'che', 'eng', 'computers'])

In [77]:
s=0
for i in d2.values():
    s+=i
avg=s/len(d2)
print("Average marks is {}".format(avg))

Average marks is 83.0

### Set

In [78]:
#set - dictionary without keys, all elements will be unique
s1={27,34,21,45,67,90,27,34,21}
type(s1)
s1

{21, 27, 34, 45, 67, 90}

In [79]:
p_list=["Mobile","Cover","Wallet","Tab", "Mobile", "Laptop","Wallet","Tab", "Mobile", "Laptop"]
set(p_list)

{'Cover', 'Laptop', 'Mobile', 'Tab', 'Wallet'}

In [82]:
p_list=["Mobile","Cover","Wallet","Tab", "Mobile", "Laptop","Wallet","Tab", "Mobile", "Laptop"]
a=list(map(lambda x:x.lower(),p_list))
a

['mobile',
 'cover',
 'wallet',
 'tab',
 'mobile',
 'laptop',
 'wallet',
 'tab',
 'mobile',
 'laptop']

### Functions
#### Set of instructions that can perform some set task and may or may not return a value - They are reffered by a name
#### Functions promote reusability of code
#### user defined functions
#### to create a function, we use the keyword "def"
#### arguments are the inputs to the function
#### default arguments : when the user doesn't supply any argument, it'll consider the defaults
#### return gives a capturable output
#### print would display the output on the  console but it's not storable

- **def** -> Keyword to create a UDF
- **return** -> will provide the output from the function
- **Arguments** -> Inputs given to a function. 
    * Positional 
    * Named
- Function is available in currect session

**Syntax:**

def FunctionName():

    Set of operations
    .
    return(value)

In [83]:
def AddNums(x=0,y=0):
    res=x+y
    return(res)

In [87]:
# Passing Named arguments/key-word arguments
AddNums(x = 30, y = 20)

50

In [89]:
def AddNums1(x,y):
    res = x + y
    return(res)

In [92]:
# Passing positional arguments
AddNums1(3,5)

8

In [93]:
# Can we capture the output of the function in a variable if we have used print?
result = AddNums(10,20)  # No, on using return , output can be captured

In [94]:
result

30

In [95]:
# How to capture the value?
def AddNums_ret(x,y):
    res = x + y
    return(res)
    #print(res)

In [96]:
results=AddNums_ret(10,20)
results

30

In [97]:
AddNums(10,20) # we must always pass all the arguments
# also, consider creating default arguments

30

In [98]:
AddNums(10)

10

In [100]:
if(type(list1)=='tuple'):
    print(0)
else:
    print(1)

1

In [101]:
type(t1) is list

False

In [104]:
# Task : Create a funtion that takes a tuple as an argument, 
#     print the sum of elements that are inside that tuple
# if the user is not providing a tuple, print an appropriate message


def SumOfTuple(t):
    if(type(t)is tuple):
        s=0
        for i in t:
            s+=i
        return(s)
    else:
        print("Please enter tuple.")

In [105]:
t1=(10,20,30,40,50)
x=SumOfTuple(t1)
x

150

In [113]:
SumOfTuple((10))
SumOfTuple((10,20,30))

Please enter tuple.

60

#### Argument overloading in functions:
- If we are not sure how many arguments we will pass to a function; we can use - args or kwargs instaed of giving argument names
- Only positional arguments accepted, no named arguments allowed
- *args will convert the values passed to a function into a tuple
- **kwargs will convert values passed to a function into a dictionary (key-value pair)

In [114]:
# Only positional arguments accepted, no named arguments allowed
def MyFunc(*args):
    print (args)

In [115]:
MyFunc(4,3,5)

(4, 3, 5)

In [116]:
# function for addition of n arguments
def MyFunc1(*args):
    Sum = 0
    for i in args:
        Sum += i
    return (Sum)

In [117]:
MyFunc1(1,2,4,5)

12

In [118]:
# The *args
def Demo(*t):
    print(t)
    
# that * allows user to enter multiple arguments
# Internally those multiple arguments are getting converted to a tuple

In [119]:
Demo(10,20,30,40)

(10, 20, 30, 40)

In [120]:
def NewSum(*t):
    
    s = 0
    for i in t:
        s += i
    return(s)

In [121]:
NewSum(10,40,20,30,70)

170

In [122]:
# only named arguments accepted, no positional arguments allowed
def Myfunc2(**x):
    print(x)

In [123]:
# **kwargs
def Demo2(**arguments):
    print(arguments)
# ** facilates the user to give multiple inputs along with any keyword of their choice
# It'll internally create a dictionary

In [124]:
Myfunc2(maths = 90, phy = 40, che = 80, eng = 80)

{'maths': 90, 'phy': 40, 'che': 80, 'eng': 80}

In [125]:
# Task : enter the marks of various subjects and calcualte the average score
def AvgCalc(**subjects):
    subNames=subjects.keys()
    scores=subjects.values()
    total=0
    for i in scores:
        total+=i
    avg=total/len(scores)
    print("The average marks scored in {} is {}".format(subNames,avg))

In [126]:
AvgCalc(che = 80, maths = 90, phy = 40, eng = 80, bio=85)

The average marks scored in dict_keys(['che', 'maths', 'phy', 'eng', 'bio']) is 75.0

In [127]:
AvgCalc(comm = 91, acc = 82, bs = 90, pe = 80)

The average marks scored in dict_keys(['comm', 'acc', 'bs', 'pe']) is 85.75

### Lambda

#Lamda - Anonymous function
# Usually short functions, useful for simple calc and we don't have to create UDF
# Disadvantae - Unlike UDF, can not be used multiple time

In [128]:
lambda x:x**2

In [129]:
lambda x,y:x+y

In [130]:
lambda num,power:num**power

In [131]:
def Square(x):
    return(x**2)

#### Map applies a function to all the items in an input_list.

In [132]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
squared

[1, 4, 9, 16, 25]

In [134]:
items = [1, 2, 3, 4, 5]
squared=list(map(lambda x:x**2,items))
squared

[1, 4, 9, 16, 25]

In [135]:
num=[1,2,3,4,5]
pw=3
num_pw= list(map(lambda num: num**pw,num))
print(num_pw)

[1, 8, 27, 64, 125]

In [136]:
#Filters creates a list of elements for which a function returns true
n_list = range(-5, 5)
less_than_zero = list(filter(lambda x:x<0,n_list))
print(less_than_zero)

[-5, -4, -3, -2, -1]

In [138]:
l_a = [1,2,3,5,7,9]
l_b = [2,3,5,6,7,8]
l_i = list(filter(lambda x:x in l_a,l_b))
l_i

[2, 3, 5, 7]

#### Reduce

In [139]:
#Reduce is useful function for performing computation on a list and returning the result. 
#It applies a rolling computation to sequential pairs of values in a list.
product = 1
list = [1, 2, 3, 4]
for num in list:
    product *= num
product

24

In [142]:
from functools import reduce
product= reduce((lambda x,y:x*y),[1,2,3,4])
product

24

In [144]:
reduce( (lambda x, y: x / y), [100000, 10000, 100, 1] )

0.1

In [145]:
i=int(input("Enter value:"))
a=range(1,i+1)
reduce(lambda x,y:x*y,a)

Enter value:5

120